/* GRID LAYOUT */
:root {
  --primary-color: #f4f0df;
  --secondary-color: #f2d7cf;
}

@media (grid: 0) {
  /* meaning that the browser needs to support grid */

  .grid-container {
    background-color: var(--secondary-color);
    border: 20px solid var(--primary-color);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 6fr 1fr / 1fr 4fr;
    /* <- samma som grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 4fr;
  fr = fraction, samma som att skriva 100px 400px.  */
    gap: 10px;
    grid-template-areas:
      "logo header"
      "nav content"
      "footer footer";
  }

  .logo {
    background-color: aliceblue;
    grid-row: 1 / 2; /* <- samma som grid-row-start: 1;
  grid-row-end: 2; */
    grid-column: 1 / 2; /* <- samma som grid-column-start: 1;
  grid-column-end: 2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    background-color: lightblue;
    grid-row: 1;
    grid-column: 2;
  }

  .nav {
    background-color: lightpink;
    grid-area: nav; /* <- istället för grid-row: 2;
  grid-column: 1; */
  }

  .content {
    background-color: rgb(255, 232, 182);
    grid-row: 2;
    grid-column: 2;
  }

  .footer {
    background-color: rgb(182, 255, 194);
    grid-row: 3;
    grid-column: 1 / -1; /* <- will always span to the end */
  }

  /* MOBILE LAYOUT */
  @media (max-width: 750px) {
    .grid-container {
      border: 5px solid yellow;
      grid-template: 1fr 6fr 1fr / 1fr 3fr;
      gap: 5px;
      grid-template-areas:
        "logo header"
        "nav content"
        "footer footer";
    }
  }
}
